.util-center {
    text-align: center;
}
h4 {
    padding: 1rem;
    margin: 4rem;
}



.jumbotron {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)), url(background.jpg) no-repeat center;
    background-size: cover;
    font-family: serif;
    color: #F1F3F5;
    text-align: center;
    height: 500px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }


.chartainers {
    border: 2px solid blue;
}